/* Common style sheet */

$brand-logo-width: 30px !default;

// Make element square
.square {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  > *:first-child {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  > img {
    width: 100%;
    margin: auto;
  }
}

// Remove transformation
.no-transform {
  transform: none !important;
}

// Hide scrollbar
@mixin hide-scrollbar() {
  scrollbar-width: none;
   &::-webkit-scrollbar {
    display: none;
  }
}

// Brand logo
.brand-logo {
  width: $brand-logo-width;
  height: $brand-logo-width;
}
