/* Player */

// Player controls
.player-controls {
  text-align: center;

  .fa {
    vertical-align: middle;
  }

  .nav {
    flex-wrap: nowrap;
    align-items: center;

    .nav-link.active {
      color: $nav-active-color;
    }
  }
}

// Player play control
.player-play {
  font-size: 1.5rem;
  padding: 0 1rem;
}

// Player position with progress bar
.player-position {
  width: 100%;
  padding: .5rem 1rem;

  .progress {
    height: .5rem;
  }

  .progress-bar {
    width: 0%;
    transition: none;
  }
}

// Player position popover
.player-position-popover {
  background-color: #777;
  display: none;
  position: absolute;
  padding: .125rem .5rem;
  margin-top: -2rem;
  border-radius: .5rem;
}

// Player volume control
.player-volume {
  align-self: center;

  input {
    width: 100%;
    vertical-align: middle;
  }
}

// Player sheet body
#player-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;

  // Contain cover
  #player-cover {
    padding: 1rem;
    min-width: 0;
    min-height: 0;
    object-fit: contain;
    text-align: center;
  }

  .player-controls {
    padding: 0 1rem 1rem 1rem;
  }

  .player-volume {
    width: 60%;
    padding: .5rem 0;
  }
}

// Change disposition with orientation
@media (orientation: landscape) {
  #player #player-body {
    // Cover on left
    flex-direction: row;

    // Controls on right
    .player-controls {
      max-width: 50%;
      padding-top: 1rem;
      padding-left: 0;
    }
  }
}
