/* Settings */

// Settings category header
.settings-header {
  background-color: $top-bar-bg;
  padding: 1rem;
  border-bottom: 1px solid $border-color;

  .iconify {
    min-width: $nav-min-icon-width;
  }
  svg {
    min-width: $nav-min-icon-width;
    height: 16px;
    fill: $body-color;
  }
}

// Settings category body
.settings-body {
  padding: 1rem;
  border-bottom: 1px solid $border-color;
}
